html body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 4rem;
}

.header-content {
    text-align: center;
    color: #fff;
    padding-top: 1rem;
}

span {
    color: #AEA1EA
}

img {
    border-radius: 10px;
    height: 18rem;
    width: 40rem;
}

.button-content {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 5vh;
}

.button-content button {
    height: 5vh;
    width: 20vh;
    border-radius: 10px;
}

.button1 {
    background-color: #AEA1EA;
    color: #fff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    img {
        border-radius: 10px;
        height: 10rem;
        width: 25rem;
    }
    
    .button-content button {
        height: 5vh;
        width: 20vh;
        border-radius: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    img {
        border-radius: 10px;
        height: 15rem;
        width: 35rem;
    }
    
    .button-content button {
        height: 5vh;
        width: 20vh;
        border-radius: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* these dimensions will work for this particular screen size  */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* these dimensions will work for this particular screen size  */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* these dimensions will work for this particular screen size  */
}